<header>
    {{!-- <h1>Static header.hbs text</h1> --}}
    <h1>{{title}}</h1>

    <div>
        <a href="/">Weather</a>
        <a href="/fakeabout">AboutMe</a>
        <a href="/fakehelp">Help</a>
    </div>
</header>