<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{!-- <h1>{{title}}</h1> --}}
    {{!-- <p>{{name}}</p> --}}
    <div class="main-content">
        {{>header}}
        <img src='/images/weather-icons.jpeg' width="620" height="250">
        <p>Weather forecast is very helpful for everybody. This application will provide weather details
            for any location you want. If you know weather information, You can prepare your plan
            carefully, you will be sucessful at work and have better life. </p>
    </div>

    {{>footer}}
</body>

</html>